<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>paginaPrincipal.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PaginaPrincipalController</servlet-name>
    <servlet-class>movieFinder.controller.PaginaPrincipalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaPrincipalController</servlet-name>
    <url-pattern>/paginaPrincipalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMoviesController</servlet-name>
    <servlet-class>movieFinder.controller.SearchMoviesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMoviesController</servlet-name>
    <url-pattern>/searchMoviesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultadoEspecificoController</servlet-name>
    <servlet-class>movieFinder.controller.ResultadoEspecificoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultadoEspecificoController</servlet-name>
    <url-pattern>/resultadoEspecificoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PuntuarController</servlet-name>
    <servlet-class>movieFinder.controller.PuntuarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuntuarController</servlet-name>
    <url-pattern>/puntuarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListasController</servlet-name>
    <servlet-class>movieFinder.controller.ListasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListasController</servlet-name>
    <url-pattern>/listasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalendarController</servlet-name>
    <servlet-class>movieFinder.controller.CalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarController</servlet-name>
    <url-pattern>/calendarController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>movieFinder.api.FilmApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>movieFinder.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>movieFinder.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/paginaPrincipal.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>
</web-app>